<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud1Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{458,248}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{458,248}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Cloud1Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,658},{442,144}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{442,144}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud1Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{540,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,320}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud2Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1374},{496,248}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{496,248}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Cloud2Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,490},{450,166}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{450,166}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud2Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{540,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,320}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud3Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,252},{458,236}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{458,236}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Cloud3Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1034},{438,188}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{438,188}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud3Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,320}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud4Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,804},{440,228}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{440,228}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>Cloud4Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1224},{424,148}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{424,148}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Cloud4Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{530,318}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{530,318}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>Fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{512,238}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{512,238}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>LightningBolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{198,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{198,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ParticleRaindrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,20},{2,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{2,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ParticleSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeatherSpriteSheet-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d5e7720c9f2cbc66dfa4b82c019765$</string>
            <key>textureFileName</key>
            <string>WeatherSpriteSheet-hd.png</string>
        </dict>
    </dict>
</plist>
