<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud1Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{228,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{228,124}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Cloud1Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,448},{220,72}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{220,72}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud1Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{270,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,160}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud2Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,692},{244,124}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{244,124}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Cloud2Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,248},{226,82}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud2Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{270,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,160}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud3Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,128},{228,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{228,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Cloud3Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,522},{218,94}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{218,94}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud3Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,160}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud4Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,332},{220,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{220,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Cloud4Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,618},{212,72}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{212,72}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Cloud4Lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{264,158}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{264,158}}</string>
                <key>sourceSize</key>
                <string>{270,160}</string>
            </dict>
            <key>Fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{256,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>LightningBolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ParticleRaindrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{2,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{2,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>ParticleSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,248},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeatherSpriteSheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:171fac38efd68233af48671b4fa0cc7b$</string>
            <key>textureFileName</key>
            <string>WeatherSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
