<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLOCK_IS_TIME_LAPSE</key>
	<false/>
	<key>TIME_LAPSE_MULTIPLIER</key>
	<integer>0</integer>
	<key>USE_CELSIUS</key>
	<true/>
	<key>USE_24_HOUR_CLOCK</key>
	<false/>
	<key>SHOW_DATE</key>
	<true/>
	<key>SHOW_NEXT_ALARM</key>
	<true/>
	<key>SHOW_TEMPERATURE</key>
	<true/>
	<key>SHOW_FROST_FRAME</key>
	<true/>
	<key>CURRENT_SEASON</key>
	<integer>0</integer>
	<key>CURRENT_CLOUDS</key>
	<integer>0</integer>
	<key>CURRENT_RAIN</key>
	<integer>0</integer>
	<key>CURRENT_SNOW</key>
	<integer>0</integer>
	<key>CURRENT_FOG</key>
	<integer>0</integer>
	<key>CURRENT_LIGHTNING</key>
	<integer>0</integer>
	<key>LOCATION_BASED_WEATHER</key>
	<string>YES</string>
	<key>FIRST_TIME_ON_HOME_SCREEN</key>
	<string>YES</string>
</dict>
</plist>
